body {
    font: menu;
}

.date {
    margin-top: 0
    font-size: small;
    color: gray;
}

.block {
    align-self: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 50px;
}

h2 {
    margin: 0
}