<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <table border="1">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Группа</th>
            <th>Факультет</th>
            <th>Факультет через обратную ссылку</th>
        </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.Student.firstname }}</td>
                    <td>{{ student.Student.lastname }}</td>
                    <td>{{ student.Student.age }}</td>
                    <td>{{ student.Student.group_n }}</td>
                    <td>{{ student.Faculty.name }}</td>
                    <td>{{ student.Student.faculty.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>