<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Студенты из задания 6</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Средний балл</th>
        </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.firstname }}</td>
                    <td>{{ student.lastname }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.rating }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>